<%= form_with(model: [movie, review]) do |f| %>
  <%= render "shared/errors", object: review %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, rows: 2, placeholder: "What did you think?" %>

  <div class="submits">
    <%= f.submit %>
    <% unless review.new_record? %>
      <%= link_to "Cancel", [movie, review], class: 'button' %>
    <% end %>
  </div>

<% end %>
